@model CoursWork.Models.TestResults

@{
    ViewData["Title"] = "Удаление";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить?</h3>
<div>
    <h4>TestResults</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Variant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Variant)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Correct)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Correct)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Test)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Test.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
