@model IEnumerable<CoursWork.Models.Course>

@{
    ViewData["Title"] = "Все курсы";
}

<h2>Все курсы</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Описание
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.PhotoUrl)
            </th>*@
            <th>
               Дата создания
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dicription)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.PhotoUrl)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <a asp-action="OpenCourse" asp-route-id="@item.Id">Открыть курс</a> |
                    @{
                        var userCourse = item.UserCourses;
                        var FindUserCourse = item.UserCourses.FirstOrDefault(i => i.User.Login == User.Identity.Name);
                        if (userCourse == null || FindUserCourse == null || FindUserCourse.Appointment == false)
                        {
                            <a asp-action="SubscribeCourse" asp-route-id="@item.Id">Записаться</a>
                        }
                        else
                        {

                            <a asp-action="UnSubscribeCourse" asp-route-id="@item.Id">Отписаться</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
