
@{
    ViewData["Title"] = "Index";
}

<h2>AdminMenu</h2>

<ul class="list-group">
    <li class="list-group-item">@Html.ActionLink("Competences", "Index", "AdminCompetences")</li>
    <li class="list-group-item">@Html.ActionLink("Courses", "Index", "AdminCourses")</li>
    <li class="list-group-item">@Html.ActionLink("Departaments", "Index", "AdminDepartaments")</li>
    <li class="list-group-item">@Html.ActionLink("KpiResults", "Index", "AdminKpiResults")</li>
    <li class="list-group-item">@Html.ActionLink("Modules", "Index", "AdminModules")</li>
    <li class="list-group-item">@Html.ActionLink("Positions", "Index", "AdminPositions")</li>
    <li class="list-group-item">@Html.ActionLink("Roles", "Index", "AdminRoles")</li>
    <li class="list-group-item">@Html.ActionLink("TestResults", "Index", "AdminTestResults")</li>
    <li class="list-group-item">@Html.ActionLink("Test", "Index", "AdminTestResults")</li>
    <li class="list-group-item">@Html.ActionLink("Theories", "Index", "AdminTheories")</li>
    <li class="list-group-item">@Html.ActionLink("UserCourses", "Index", "AdminUserCourses")</li>
    <li class="list-group-item">@Html.ActionLink("Users", "Index", "AdminUsers")</li>
    <li class="list-group-item">@Html.ActionLink("UserTestResults", "Index", "AdminUserTestResults")</li>
    <li class="list-group-item">@Html.ActionLink("UserTheories", "Index", "AdminUserTheories")</li>

</ul>