@model CoursWork.Models.User

@{
    ViewData["Title"] = "SelectUser";
}

<h2>SelectUser</h2>


@{ 
<table>
    <thead>
        <tr>
            <th>Компетенция</th>
            <th>Норма</th>
            <th>Фактическое значение</th>
            <th>Вес</th>
            <th>Индекс KPI</th>
        </tr>
    </thead>
    <tbody>
        @for(var i=0;i< (int)ViewBag.AllCount;i++)
        {
        <tr>
            <td>@i</td>
            <td>@i</td>
            <td>@i</td>
            <td>@i</td>
            <td>@i</td>
        </tr>
        }
    </tbody>
</table>
}